@-webkit-keyframes pcsSingleCircleFade {
        0% {
                -webkit-transform: scale(0);
                transform: scale(0);
        }
        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0;
        }
}

@keyframes pcsSingleCircleFade {
        0% {
                -webkit-transform: scale(0);
                transform: scale(0);
        }
        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0;
        }
}

.pcsSingleCircleFade>div {
        background-color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin: 2px;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: inline-block;
        height: 60px;
        width: 60px;
        -webkit-animation: pcsSingleCircleFade 1s 0s ease-in-out infinite;
        animation: pcsSingleCircleFade 1s 0s ease-in-out infinite;
}

@keyframes pcsSingleCircleFade {
        0% {
                -webkit-transform: scale(0);
                transform: scale(0);
        }
        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0;
        }
}

.pcsSingleCircleFade>div {
        background-color: var(--main-color);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin: 2px;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: inline-block;
        height: 60px;
        width: 60px;
        -webkit-animation: pcsSingleCircleFade 1s 0s ease-in-out infinite;
        animation: pcsSingleCircleFade 1s 0s ease-in-out infinite;
}

.pcsSingleCircleFade {
        position: relative;
        display: inline-block;
}